<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <img id="logo" src="assets/images/Bingeit.png" alt="Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <button id="login_Button" type="button" class="btn btn-success" routerLink="/login">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://images.hindustantimes.com/img/2022/05/20/1600x900/Bhool_Bhulaiyaa_2_1653020103317_1653020129793.jpg ');
            overflow-x: hidden;">
                <div class="container" id="details">
                    <h1>Bhool Bhulaiyaa 2</h1>
                    <h6>In a mansion of Bhawanigarh, 2007: priests confine a malevolent spirit,Manjulika, who is hell-bent on
                        <br>attacking the family's daughter-in-law Anjulika, to a room. The family desert the mansion for their safety. </h6>
                    <button id="watch_Button" type="button" class="btn btn-success rounded-pill"><img style="padding-bottom: 2%;" src="assets/images/play-button.png">  Watch now</button>
                </div>
            </div>

            <div class="carousel-item " style="background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQa82SXtuPjaBo68E43Ii7t7YL6uXHCOslWuO5sb_gyhlwHj66UKt4gzupamC4fQ_ns0P6oO9ISQZ4usg1NCQVj7DsuyEson1DE4N1JsRWvmsu-T8-nMcEoSN58qw2JgImdc1JiNqMxfYGOK_hlsKvhbap9A.jpg?r=e2c ');
            overflow-x: hidden;">
                <div class="container" id="details">
                    <h1>Stranger things</h1>
                    <h6>In 1980s Indiana, a group of young friends witness supernatural forces and secret government exploits.<br>As they search for answers, the children unravel a series of extraordinary mysteries.</h6>
                    <button id="watch_Button" type="button" class="btn btn-success rounded-pill"><img style="padding-bottom: 2%;" src="assets/images/play-button.png">  Watch now</button>
                </div>
            </div>
            <div class="carousel-item " style="background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://images.hindustantimes.com/img/2022/04/22/1600x900/jersey_movie_review_1650599195424_1650599195595.jpg ');
            overflow-x: hidden;">
                <div class="container" id="details">
                    <h1>Jersey</h1>
                    <h6>A talented but failed cricketer decides to return to cricket in his late thirties driven by the desire <br>to represent the Indian cricket team and fulfil his son's wish for a jersey as a gift.</h6>
                    <button id="watch_Button" type="button" class="btn btn-success rounded-pill"><img style="padding-bottom: 2%;" src="assets/images/play-button.png">  Watch now</button>
                </div>
            </div>
            <div class="carousel-item " style="background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://m.media-amazon.com/images/M/MV5BNzZhYThmOTAtMzJkNi00MjQ0LWE0ZWItYzRhZWU5Njc3ZmFkXkEyXkFqcGdeQWpnYW1i._V1_.jpg');
            overflow-x: hidden;">
                <div class="container" id="details">
                    <h1>Morbius</h1>
                    <h6>Dangerously ill with a rare blood disorder and determined to save others from the same fate,<br> Dr. Morbius attempts a desperate gamble. While at first it seems to be a radical success,<br> a darkness inside of him is soon unleashed.</h6>
                    <button id="watch_Button" type="button" class="btn btn-success rounded-pill"><img style="padding-bottom: 2%;" src="assets/images/play-button.png">  Watch now</button>
                </div>
            </div>
        </div>
    </div>
</header>