#logo {
    width: 23%;
}

#carousel_images {
    opacity: 0.3;
}

#login_Button {
    background-color: rgba(131, 200, 58, 255);
    font-size: larger;
}

.carousel-item {
    height: 85vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.356), black, black);
}

.navbar {
    border: 0;
    box-shadow: none;
}