<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <img id="logo" src="assets/images/Bingeit.png" alt="Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <button id="login_Button" type="button" class="btn btn-success">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="carousel_images" src="https://i.pinimg.com/originals/bb/7a/00/bb7a00b1cdccd419d6bad81cc2707669.jpg " class="d-block w-100 " alt="... ">
            </div>
            <div class="carousel-item ">
                <img id="carousel_images" src="https://www.wallpaperkiss.com/wimg/b/171-1719865_big.jpg " class="d-block w-100 " alt="... ">
            </div>
            <div class="carousel-item ">
                <img id="carousel_images" src="https://s1.1zoom.me/big3/142/351701-admin.jpg " class="d-block w-100 " alt="... ">
            </div>
        </div>
    </div>
</header>