<body>
    <div class="container">
        <div class="logo">
            <img id="logo" src="assets/images/Bingeit.png" alt="Logo">
        </div>
        <div class="form-container">
            <form>
                <h1>Sign Up</h1>
                <div class="form-group">
                    <input type="text" required>
                    <label>Full Name</label>
                </div>

                <div class="form-group">
                    <input type="email" required>
                    <label>Email Address</label>
                </div>
                <div class="form-group">
                    <input type="number" required>
                    <label>Phone Number</label>
                </div>
                <div class="form-group">
                    <input type="password" required>
                    <label>Create Password</label>
                </div>
                <button>Sign Up</button>
                <p>Already registered? <a id="link" routerLink="/login">Click to Login !</a></p>

            </form>
        </div>
        <footer>
            <div class="top">
                <a routerLink="/home">Questions? Contact us.</a>
            </div>
            <div class="links">
                <a routerLink="/home">FAQ</a>
                <a routerLink="/home">Help Center</a>
                <a routerLink="/home">Terms of Use</a>
                <a routerLink="/home">Privacy</a>
                <a routerLink="/home">Cookie Preference</a>
                <a routerLink="/home">Corporate Information</a>
            </div>
        </footer>
    </div>
</body>